body {
	font-size: 18px;
}
.map{
    height: 400px; 
    width: 400px;
    border: 1px solid black;
	background-color: lightgrey;
    float: left;
	margin: 5px 10px 10px 0;
}
.przyciskiPole{
    clear: both;
}
.puzzle{
	margin-top: 10px;
    width: 800px;
    height: 200px;
    border: 1px solid black;
	background-color: lightgrey;
}
.canvas-item{
    vertical-align: bottom;
}
.kafelek {
    width: 98px;
    height: 98px;
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid black;
}


