body {
    font-family: sans-serif;
}
#weather-search-params {
    width: 350px;
    margin: 15px auto;
    text-align: center;
}
#weather-results-container {
    width: 880px;
    margin: 15px auto;
    text-align: center;
}
.weather-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.weather-block {
    display: block;
    width: 280px;
    height: 130px;
    border: 1px solid #c0c0c0;
    position: relative;
    margin: 15px auto;
    text-align: left;
    flex: 0 0 auto;
}
.weather-row:first-child .weather-block {
    margin-right: 0; 
}
.weather-row:not(:first-child) .weather-block {
    margin-right: 15px;
}
.weather-date {
    font-weight: bold;
    width: 350px;
    text-align: left;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 20px;
}
.weather-icon {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;
    height: 100px;
}
.weather-temperature {
    position: absolute;
    top: 30px;
    left: 110px;
    font-size: 33px;
    font-weight: bold;
}
.weather-temperature-feels-like {
    position: absolute;
    top: 70px;
    left: 110px;
}
.weather-description {
    position: absolute;
    top: 90px;
    left: 110px;
}